:root {
  /* --primary-color: #313345; */
  --primary-color: #1b263b; 
  --secondary-color: #66d1cf;
  --third-color: rgba(245, 253, 255, 7.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-family: "TextFont";
}